@import "tailwindcss";

@theme {
  --font-display: "Arial", "sans-serif";
  --animate-float: float 3s ease-in;

  @keyframes float {
    to {
      transform: translateY(-800%);
      opacity: 0;
    }
  }
}

body {
  @apply bg-black;
}

main {
  @apply w-full h-lvh flex justify-center items-center bg-radial-[at_50%_50%] from-[#1e005d] to-black to-50% size-24 rounded-full;
}

h1 {
  @apply font-medium text-4xl text-white;
}
